.btn,
.btn:link,
.btn:visited {
  border-radius: 10px;
  background-image: linear-gradient(to right bottom, #ff3366, #ba265d);
  background-size: cover;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  padding: 0.8rem;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active,
.btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
