.user__list {
  list-style: none;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 100;
}
.user__list--item {
  border-radius: 6px;
  background-image: linear-gradient(to right bottom, #ff3366, #ba265d);
  background-size: cover;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  display: flex;
  margin: 1rem;
  padding: 1rem;
  justify-content: space-between;
}

.user__list--icon {
  height: 2rem;
  width: 2rem;
  fill: black;
}

.user__list--icon:hover {
  transform: translateY(-2px);
  cursor: pointer;
}
